.about {
    background-color: $color-bg-secondary;
}

$meUrl: staticUrl('/static/img/me.jpg');

img[src="#{$meUrl}"] {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: solid 2px white;
    float: left;
    margin-right: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;

    &::after {
        /* self clear-fix hack*/
        content: "";
        display: table;
        clear: both;
    }
}
