@import url('https://fonts.googleapis.com/css?family=Inconsolata|Palanquin');

.html {
    font-size: 16px;
    background-color: $color-bg-primary;
    color: $color-fg-primary;
    font-family: 'Palanquin', sans-serif; 
    min-width: 21.9rem;
    min-height:100%;
}

.body {
    background-color: $color-bg-primary;
    color: $color-fg-primary;
    min-height: 100%;
    font-size: 1.1rem;
}

a {
    color: #EEEEFF;

    &:hover{
        color: #EEEEFF;
    }

    &:visited {
        color:#D088A0;
    }
}

section {
    padding: 2rem;
}

.section-header {
    display: flex;
    align-items: flex-end;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;

    &:before,
    &:after {
        display: inline-block;
        content: "";
        height: 0.1rem;
        flex: 1;
        background: $color-bg-contrast;
    }

    h2 {
        margin: 0;
        flex: 2;
        text-align: center;
        font-variant: all-small-caps;
        font-size: 1.75rem;
    }
}
