.button {
  background-color: $color-bg-secondary;
  border-color: $color-bg-primary;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  color: $color-fg-primary;
  margin-top: 2rem;
  padding: 1rem;
  transition: all 0.2s ease-out;

  &:active, &:focus {
    border-color: $color-highlight-tertiary;
    border-width: 2px;
    outline: none;
  }

  &[disabled] {
    background-color: $color-bg-disabled;
    color: $color-fg-disabled;
  }
}

.button--primary {
  background-color: $color-affirm-primary;
}