.contact {
  background-color: $color-bg-secondary;
  padding-left: 2rem;
  padding-right: 2rem;

  .content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.contact__form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  form {
    width: 100%;
  }
}