.flexgrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;


  @for $i from 1 through 12 {
    .col-#{$i} {
      width:100%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      @include media(">medium", "screen"){
        width: $i/12*100%;
      }
    }
  }
}