.footer {
    background-color: $color-bg-secondary;
    font-size: .85rem;
    text-align: center;
    line-height: 2rem;
}

.footer__copyright {
    margin-right: 1rem;
}

.footer__source-link {
    margin-left: 1rem;

    &:visited {
        color: $color-fg-secondary;
    }

    &:hover {
        color: $color-highlight-primary;
    }

    &:active {
        color: $color-highlight-secondary;
    }

}