.form-field {

    &.first {
        margin-top: 0;
    }

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-field-label {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5rem;
    width: 100%;
}

input,
textarea {
    height: 2rem;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: $color-bg-primary;
    border-radius: 0.25rem;
    padding: 0.33rem;
    transition: all 0.2s ease-in;

    &:active, &:focus {
        border-color: $color-highlight-tertiary;
        border-width: 2px;
        outline: none;
    }
}

textarea {
    height: 14rem;
}
