.grid {
    display: grid;
    grid-gap: 0rem;
    grid-template-areas:
       "hero"
       "nav"
       "intro"
       "content"
       "contact"
       "footer";
    grid-template-columns: 100%;
}

  

.hero {
    grid-area: hero;
}

.intro {
    grid-area: intro;
}

.contact {
    grid-area: contact;
    display: grid;
    grid-gap: 2rem;
    grid-template-areas:
        "header" 
        "content" 
        "form";
    grid-template-columns: 100%;

    @include media(">medium", "screen"){
        grid-template-areas: 
        "header header" 
        "content form";
        grid-template-columns: 50%;
        grid-column-gap: 1.5rem;
    }

    header {
        grid-area: header;
    }

    .content{
        grid-area: content;
    }

    .contact__form-wrapper {
        grid-area: form;
    }
}

.footer {
    grid-area: footer;
}
