.hero {
    align-items: center;
    background-attachment: fixed;
    background-image: url(staticUrl('/static/img/hero.jpg'));
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    min-height: calc(100vw * 0.5);
    padding: 5rem;
}

.hero__image {
    width: 100%;
}

.hero__title {
    margin-top: calc(100vw*-0.1);
    width: 50%;
    opacity: 0;

    &.show {
        opacity: 1;
        margin-top: calc(100vw*-0.15);
    }
    

    text-align: center;

    text-shadow: black 0 0.25rem 0.5rem;
    transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;

    @include media(">medium", "screen"){
        // top: 10%;
        // right: -4.6rem;
        // left: unset;
        // bottom: unset;
    }
}

.hero__name {
    display: inline-block;
    font-size: 4rem;
    font-size: calc(100vw * 0.1);
    margin: 0;
    font-weight: 500;
    transition: none;
}

.hero__sub-title {
    font-size: 2rem;
    font-size: calc(100vw * 0.025);
}