@import 'node_modules/sanitize.css/sanitize';
@import 'variables';
@import 'base';


html {
    background-color: white;
    color: black;
    font-size: 9pt;
}

body {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

h5 { 
    font-size: 1.1rem;
}

ul {
    margin-top: 0.5rem;
}

.title {
    color: $color-bg-primary;
    margin-top: 0;
    margin-bottom: 0;
}

.location, .personal-details {
    font-size: 0.75rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.14rem;
}

.personal-details {
    display: inline-block;
    margin-bottom: 0.25rem;
}

.personal-summary {
    background-color: $color-fg-secondary;
    //font-size: 0.75rem;
    font-style: italic;
    border-left: 0.15rem solid $color-bg-primary;
    margin-top: 0.5rem;
    margin-right: 0;
    margin-bottom: 0.5rem; 
    margin-left: 0.25rem;
    padding-top: 0.25rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    width: 100%;
    text-align: right;

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    &+hr {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        height: 0.0;
        border-style: solid;
        border-color: $color-bg-tertiary;
      }
}

hr {
    border: none;
    background: #EEE;
    height: 1px;
    width: 100%;
    display: inline-block;
}

.employer {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.role-title {
    margin-top: 0;
}

.role-date {
    text-align: right;
    margin-top: -1.1rem;
    margin-right: 28%;
    margin-bottom: 0.5rem;
}

.role-description {
    width: 73.9%;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.25rem;
    padding-right: 1rem;
}

.role-tech {
    float: right;
    width: 25%;
    background-color: $color-fg-secondary;
    padding-right: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 2rem;
    list-style-type: square;
    border-left: 0.15rem solid $color-bg-primary;

    &::before {
        display: block;
        content: "Tech Used";
        margin-left: -1.7rem;
        padding-top: 0.25rem;
        font-weight: bold;
        font-size: 0.75rem;
    }
}

.role-responsibilities-header {
    display: inline;
}

.role-responsibilities {
    width: 73.9%;
    padding-right: 1rem;
    margin-bottom: 3rem;
}


