.nav {
    display: flex;
    position: sticky;
    top: 0;
    padding: 0;
    margin-top: -2.5rem;
    grid-area: nav;
}

#main-menu-mobile-nav-toggle {
    display: none;
}

.main-menu__mobile-nav {
    position: fixed;
    top: 0.1rem;
    right: 0;
    font-size: 2.5rem;
    background-color: $color-bg-primary;
    padding: 0.5rem;
    border: 1px $color-fg-secondary solid;
    height: 3rem;
    transition: 1s right ease-in-out;

    @include media(">medium", "screen"){
        display: none;
    }

    .bar {
        background-color: $color-fg-primary;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        width: 2rem;
        height: 0.25rem;
        transition: all 0.5s ease-in;
    }
}

#main-menu-mobile-nav-toggle:checked ~ .main-menu__mobile-nav {
    right: calc(50% + 0.1rem);

    .bar-1 {
        transform: translateY(0.5rem) rotate(45deg);
        transition: transform 0.5s linear;
    }

    .bar-2 {
        opacity: 0;
    }

    .bar-3 {
        transform: translateY(-0.6rem) rotate(-45deg);
        transition: transform 0.5s linear;
    }
}

.main-menu {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    background: $color-bg-primary;
    border-left: 1px solid $color-fg-secondary;
    text-align: left;
    width: 0;
    height: 100%;
    transition: 1s width ease-in-out;
    font-variant: all-small-caps;

    @include media(">medium", "screen"){
        position: static;
        flex: 1;
        height: 2.5rem;
        background-color: transparentize($color-bg-primary, 0.8);
        border-left: none;
        transition: none;
        text-align: center;

        &.solid {
            background-color: $color-bg-primary;
        }
    }
}

#main-menu-mobile-nav-toggle:checked ~ .main-menu {
    width: 50%;

    @include media(">medium", "screen"){
        flex: 1;
    }
}


.main-menu__list {
    padding-left: 0.5rem;
    margin: 0;
    margin-left: 1rem;
    white-space: nowrap;
}

.main-menu__list-item {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 0;

    @include media(">medium", "screen"){
        
        display: inline-block;
        margin-top: 0;
        margin-left: 0;
        margin-right: 3rem;

        &.last {
            margin-right: 0;
        }
    }

    a,
    a:visited,
    a:hover {
        color: $color-fg-secondary;
        text-decoration: none;
    }
}
