$breakpoints:(
    small:  32.00rem,
    medium: 48.00rem,
    large:  56.00rem,
    xlarge: 72.00rem
);

$media-expressions: (
    screen: "screen", 
    handheld: "handheld",
    retina2x: ("(-webkit-min-device-pixel-ratio: 2)", "(min-resolution: 192dpi)")
) !default;

/* RGB */
$color-bg-primary: rgba(14, 14, 20, 1);
$color-bg-secondary: rgba(36, 36, 39, 1);
$color-bg-tertiary: rgba(59, 91, 107, 1);
$color-fg-primary: rgba(249, 249, 249, 1);
$color-fg-secondary: rgba(225, 232, 222, 1);
$color-highlight-primary: rgba(219, 13, 11, 1);
$color-highlight-secondary: rgba(100, 13, 11, 1);
$color-highlight-tertiary: rgb(92, 161, 196);
$color-affirm-primary: rgba(28, 104, 142, 1);
$color-bg-contrast: rgba(226, 233, 223, 1); 

$color-bg-disabled: #BBB;
$color-fg-disabled: #444;
